.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    padding: 0.8rem 2rem;
    margin: 10px 15px;
    border: none;
    border-radius: 6px;
    font-size: 1.6rem;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    &__select {
        color: var(--black-2);
        font-family: 'JetBrains Mono', monospace;
        padding: 1rem;
        border: none;
        background-color: var(--bg-3);
        width: 150px;
        cursor: pointer;
    }
}

.button--primary {
    background-color: var(--primaryPurple);
    color: var(--white);
}

.button--secondary {
    background-color: var(--bg-3);
    color: var(--black-1);
}
