@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&family=Permanent+Marker&display=swap');
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'JetBrains Mono', monospace;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(purple,pink);
}

.App {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    font-family: 'Permanent Marker', cursive;
    font-size: 6rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: rgb(230, 228, 228);
}

